<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <form method="GET" action="/listings/new">
        <button>New Listing</button>
    </form>
    <h2>all listings</h2>
    <ul>
 <% for(let listing of listings){%>
        <li><a href="/listings/<%=listing._id %>"><%=listing.title %></a></li> 
         <br>
         <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
            <button>Delete</button>
         </form>
    <%}%>
    </ul>
   
</body>
</html>