<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Showing error</title>
</head>
<body>
    <h2>Yor are entered incorrect id...!</h2>
    <h4>This id doesn't exists:<%=id%></h4>
</body>
</html>