<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>The dice value is <%=rand%></h1>
    <h1>
        <% if(rand==5){ %>
            <h2>nice roll.....! </h2>
        <%  }else{%>
            <h3>try again <%=rand%></h3>
        <%}%>

        
    </h1>
</body>
</html>