<!-- here this index2.ejs file is created for accessing anywhere
     means we can access it on previous folder also(access it from "backend" folder also).
      which is not in first (index.js) file. -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is heading tag</h1>
    <button>click me..!</button>
    <br>
    <br>
    <input type="password" name="pass" placeholder="password">
</body>
</html>