<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Route</title>
</head>
<body>
    <form method="POST" action="/listings">
        <h3>create a new listing</h3>
        <input type="text" name="title" placeholder="write the title">
        <br>
        <br>
       <textarea name="description" placeholder="write description" id="" cols="30" rows="10"></textarea>
        <br>
        <br>
        <input type="number" name="price" placeholder="enter price">
        <br>
        <br>
        <input type="text" name="country" placeholder="enter country name">
        <br>
        <br>
        <input type="text" name="location" placeholder="enter location">
        <br>
        <button>Submit</button>
    </form>
</body>
</html>