#container1,#container2 {
    width: 80%;
    height: 600px;
    border: 2px red solid;
    margin: 0 auto;
    /* when the display is grid then the content will be aligned in the column direction by default.as we can see in the output. */
    /* in the display flex the content will aligned in the row direction by default. */
    display: grid;
    grid-template-rows: 300px 300px 300px;
    grid-template-columns: 300px 300px 300px;
    
   
}

h1 {
    display: flex;
    justify-content: center;
    background-color: rgb(119, 255, 0);
    color: black;
    
}

#container1 #Green {
    width: 100px;
    height: 100px;
    border: 2px black solid;
    background-color: green;
    /* check the difference the below code comment and uncomment if not clear understand */
    grid-column-start: 1;
    grid-column-end: 3;
}

#blue {
    width: 100px;
    height: 100px;
    border: 2px black solid;
    background-color: blue;
}

#red {
    width: 100px;
    height: 100px;
    border: 2px black solid;
    background-color: red;
}

#purple {
    width: 100px;
    height: 100px;
    border: 2px black solid;
    background-color: purple;
}

#orange {
    width: 100px;
    height: 100px;
    border: 2px black solid;
    background-color: orange;
}
#container2 #Green{
  width:500px; 
  height: 100px;
  background-color: green;
  border: 2px black solid;
  grid-column-start:1;
  grid-column-end:3;
}