#a{
    height: 200px;
    width: 200px;
    font-size:50px;
    border:3px;
    color:red;
    background-color:rgb(42, 165, 116);
    margin:50px;
}

#b{
    height: 200px;
    width: 200px;
    font-size: 50px;
    border: 3px;
    color: rgb(85, 255, 0);
    background-color: rgb(120, 18, 111);
    margin: 50px;
    }
/* Margin Short  form. 

     1.for all 4 sides. 
       margin:20px;
    
     2.for top & bottom |left & right.
       margin:1px 2px ;
    
     3.for top | left & right | bottom.
       margin:1px 2px 3px;

     4.for top | right | bottom | left -->clockwise.
       margin:1px 2px 3px 4px;

     5.for particular side.
       margin:30px 0 30px 0;
*/