div {
    width: 400px;
    height: 50px;
    border: 2px solid green;
    background-color: red;
    color: black;
}

@media(max-width:400px) {
    div {
        background-color: aquamarine;
        width:200px;
        height: 50px;
    }
}