<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- here rand is a variable which taking the data from passing-data-to-ejs2.js file. -->
    <h1>This is Rolldice2: <%=rand%>
    </h1>
</body>
</html>