<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New chat</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <h3>Hello this is new chat</h3>
    <form method="POST" action="/chats">
        <input type="text" placeholder="Enter username" name="from"><br><br>
        <input type="text" placeholder="Enter Reciever name" name="to"><br><br>
        <textarea name="msg" id="" cols="30" rows="3" placeholder="write message here"></textarea>
      <button>Create Chat</button>
    </form>
</body>
</html>