.my{
  color:red;
  background-color: aqua;  
}
p{
    color: rgb(46, 163, 46);
    background-color: blue;
}

/*Note: In the above case the 1st selector property will be applies  */
/* <!-- selector specificity -->
        <!-- id>class>element -->
        <!-- here each id=1,class=1,element=1.points -->
        <!-- where id in 100th place and class in 10th place and element in 1's place. --> */

/* the above 1st is class selector and 2nd one is element selector so this element contain  */
/* for 1st selector (class selector) here id=0,class=1,element=0. so ---> 010=10. */
/* for 2nd selector (element selector) here id=0,class=0,element=1. so ---> 001=1. */
/* finally class>element. */