#container {
    width: 400px;
    height: 500px;
    border: 2px dashed aqua;
    background-color: rgb(195, 193, 149);
    /* font-size: 25px; */
    text-align: center;
    /* before display:flex the boxes overflow the container.if doubt check */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    /* here aligned the space  in around the boxes. in row direction in cross axis */
    /* here the space is aligned for first and last box is half of its middle space. */
    align-content: space-around;
}

h1 {
    display: flex;
    justify-content: center;
}

#a {
    color: red;
}

#b {
    color: rgb(7, 166, 7);
}

#c {
    color: rgb(43, 0, 161);
}

.ab {
    width: 150px;
    height: 100px;
    border: 2px solid red;
}

#Green {
    background-color: green;
}

#blue {
    background-color: blue;
}

#black {
    background-color: black;
    color: red;
}

#pink {
    background-color: pink;
}

#purple {
    background-color: purple;
}

#red {
    background-color: red;
}