div{
    width:800px;
    height: 6000px;
    border:10px solid red;
    background-color:purple;
    background-image: url(Corn.jpg);
    /* the below code is fills the image repeatedly until it fit in the background size. */
    background-size: contain;
}