section {
    width: 500px;
    height: 800px;
    border: 2px solid purple;
    text-align: center;

}

div {
    width: 200px;
    height: 100px;
    border: 2px solid purple;
    font-size: 30px;
    margin:50px;
}

/* The below box which moves  in both x and y axis positive axis */
#a {
transform: translate(100px,40px);
background-color:peru;
}

/* The below box which moves in x axis only in positive direction or axis.*/
#b {
    transform: translatex(220px);
    background-color:green;
}

/* The below box which moves in y axis only in positive direction or axis.*/
#c {
    transform: translatey(-50px);
    background: purple;
}

